@model IEnumerable<ProductManagement.Entities.Models.OrdersModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Placed Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedOn)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
                <td>
                    <img src="~/images/@item.Image" title="@item.Image" width="80" height="80" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlacedOn)
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary" style="margin-right:5px">Go to Home</a>

